.container {
    background-color: #c00025;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    border: 2px solid grey;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.logo-div {
    width: 450px;
}

.display {
    margin-top: 15px;
    height: 100px;
    width: 400px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 50px;
    font-size: 5.0rem;
}

.App {
    max-width: 450px;
}

.buttons-div {
    display: flex;
    padding: 10px;
}

.left-buttons {
    width: 75%;
}

.special-buttons {
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.number-buttons {
    width:100%;
}

.right-buttons {
    width: 25%;
} 

.button {
    width: 85px;
    border-radius: 50%;
    height: 85px;
    color: white;
    background: darkgray;
    box-shadow: 0px 4px #322c2d;
    border: 0px;
    font-size: 2.5rem;
    margin: 10px;
}

.number-button {
    background: #113C78;
}

.special-button {
    background: #2061B0;
}

.operator-button {
    background: #3DB5E5;
}

.number-button:nth-last-child(2) {
    width: 190px;
    border-radius: 50px;
}